<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Equipo organizador</h4>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
              El Centro de Investigación en Matemáticas, A.C. (CIMAT), Unidad Zacatecas, a través del Laboratorio de Computación Cenrada en el Humano, es complacido de invitarle a participar en este magno evento.
            </p><br />
            <img class="text-left animated hiding"  data-animation="fadeInUp" data-delay="0" src="{{ site.baseurl | append: '/img/sections-background/staff.png'}}" style="width:100%">
        </div>
    </div>
</section>
<!-- End Team List -->
